[submodule "test/lib/node-websocket-client"]
	path = node_modules/node-websocket-client
	url = https://github.com/pgriess/node-websocket-client.git
[submodule "node_modules/v8cgi"]
	path = node_modules/v8cgi
	url = https://github.com/easel/v8cgi.git
[submodule "node_modules/node-static"]
	path = node_modules/node-static
	url = https://github.com/cloudhead/node-static.git
[submodule "node_modules/transporter"]
	path = node_modules/transporter
	url = https://github.com/kriszyp/transporter.git
[submodule "node_modules/underscore"]
	path = node_modules/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "node_modules/node-linter"]
	path = node_modules/node-linter
	url = https://github.com/sonnym/node-linter.git
[submodule "node_modules/node-jake"]
	path = node_modules/node-jake
	url = git://github.com/mde/node-jake.git
[submodule "node_modules/socket.io-node"]
	path = node_modules/socket.io-node
	url = https://github.com/LearnBoost/Socket.IO-node.git
[submodule "node_modules/dust"]
	path = node_modules/dust
	url = https://github.com/akdubya/dustjs.git
[submodule "node_modules/slide"]
	path = node_modules/slide
	url = https://github.com/isaacs/slide-flow-control.git
[submodule "node_modules/inflect-js"]
	path = node_modules/inflect-js
	url = git@github.com:sonnym/inflection-js.git
