[submodule "src/lib/socket.io"]
	path = node_modules/socket.io
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "test/lib/node-websocket-client"]
	path = tnode_modules/node-websocket-client
	url = http://github.com/pgriess/node-websocket-client.git
[submodule "node_modules/v8cgi"]
	path = node_modules/v8cgi
	url = https://github.com/easel/v8cgi.git
[submodule "node_modules/node-static"]
	path = node_modules/node-static
	url = https://github.com/cloudhead/node-static.git
[submodule "node_modules/transporter"]
	path = node_modules/transporter
	url = https://github.com/kriszyp/transporter.git
