[submodule "src/lib/socket.io"]
	path = node_modules/socket.io
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "test/lib/node-websocket-client"]
	path = tnode_modules/node-websocket-client
	url = http://github.com/pgriess/node-websocket-client.git
