body {
  padding: 0px;
  background: #041410;
  color: #979564;
  font-family: helvetica, sans-serif;
  font-size: 1.0em;
}
a { color: #979564; }
input[type=text] {
  border: solid 1px #979452;
  background: #041410;
  color: #fff;
  font-family: monospace;
  font-size: 1.3em;
}

#content {
  height: 100%;
  width: 100%;
}

#welcome {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  top: 60px;

  background: #0c1f1a;

  border: solid 4px #979452;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  padding: 20px;

  z-index: 3;
}

#top {
  position: absolute;
  left: 0px;
  top: 2%;
  width: 100%;
  height: 8%;
}

#kibitz, #play {
  text-align: center;
}

#games {
  position: absolute;
  left: 0px;
  top: 10%;
  width: 100%;
  height: 88%;

  z-index: 1;
}

#l, #r {
  position: absolute;
  width: 30%;
  height: 100%

  z-index: 2;
}

#l {
  left: 0px;
}
#r {
  right: 0px;
}

#c {
  position: absolute;
  left: 30%;
  width: 40%;
  height: 100%

  z-index: 2;

  vertical-align: middle;
}

#c .board {
  width: 95%;
  color: #000;
}
.meta {
  margin: 5px 0px;
}
.stash {
  float: right;
  color: #000;
}

.square {
  float: left;
  border: solid 1px #979452;
  text-align: center;
}

#c .board .square {
  width: 12%;
  font-size: 34pt;
}

#l .board, #r .board {
  width: 95%;
  color: #000;
}

#l .board .square, #r .board .square {
  width: 11%;
  font-size: 28pt;
}

#c .meta { width: 86%; }
#l .meta, #r .meta { width: 76%; }

.light {
  background: #979452;
}
.dark {
  background: #5e3c27;
}
.droppable {
  background: #745b38;
}
.selected {
  border: solid 1px #fff;
}

.rank_break {
  width: 0px;
  clear: both;
}
.ui-draggable {
  cursor: move;
}
.piece {
  width: 70%;
  margin: auto auto;
}
.hidden { display: none; }

.ui-dialog, .meta {
  background: #0c1f1a;

  border: solid 2px #979452;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  padding: 10px 20px;
}
.ui-dialog {
  margin: auto auto;
}
#promotion {
  padding: 15px 30px;
}
.promotion_piece {
  float: left;
  margin-left: 6px;
  font-size: 26pt;
  cursor: pointer;
}
.promotion_piece_selected {
  border: solid 1px #979452;
}

/* buttons */
.awesome.blue { background-color: #1d2142 !important; }
.awesome.bold { font-weight: bold !important; }
.awesome.large { font-size: 1.2em !important; }

/* resets */
h2 { margin: 0px; }
