body {
  padding: 0px;
  background: #041410;
  color: #979564;
  font-family: helvetica, sans-serif;
}
a { color: #979564; }

#content {
  height: 100%;
  width: 100%;
}

#welcome {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  top: 60px;

  background: #0c1f1a;

  border: solid 4px #979452;
  border-radius: 40px;
  -moz-border-radius: 40px;
  padding: 20px;

  z-index: 3;
}

#games {
  position: absolute;
  height: 100%;
  width: 100%;

  z-index: 1;
}

#left, #right {
  position: absolute;
  width: 30%;
  height: 100%

  z-index: 2;
}

#left {
  left: 0px;
}
#right {
  right: 0px;
}

#primary {
  position: absolute;
  left: 30%;
  width: 40%;
  height: 100%

  z-index: 2;

  vertical-align: middle;
}

.board {
  width: 100%;
  color: #000;
}

.square {
  width: 12%;
  float: left;

  border: solid 1px #979452;

  font-size: 34pt;
  text-align: center;
}
.light {
  background: #979452;
}
.dark {
  background: #5e3c27;
}
.droppable {
  background: #745b38;
}
.droppable_hover {
  border: solid 1px #fff;
}

.rank_break {
  width: 0px;
  clear: both;
}
.piece {
  width: 70%;
  cursor: move;
  margin: auto auto;
}
.hidden { display: none; }

.ui-dialog {
  background: #0c1f1a;

  border: solid 2px #979452;
  border-radius: 20px;
  -moz-border-radius: 20px;

  padding: 10px 20px;
}
#promotion {
  padding: 15px 30px;
}
.promotion_piece {
  float: left;
  margin-left: 6px;
  font-size: 26pt;
  cursor: pointer;
}
.promotion_piece_selected {
  border: solid 1px #979452;
}

/* buttons */
.awesome.blue { background-color: #1d2142 !important; }
.awesome.bold { font-weight: bold !important; }

/* resets */
h2 { margin: 0px; }
